/* Stilovi za gornji deo sa pozadinskom slikom */
.hero {
    background-image: url('https://images.idgesg.net/images/article/2020/04/zoom_video_conferencing_online_meeting_remote_workers_one_user_connected_via_laptop_with_a_grid_of_twelve_participants_on_screen_2400x1600-100837446-large.jpg?auto=webp&quality=85,70');
    background-size: cover;
    background-position: center;
    height: 50vh; /* Po potrebi prilagodi visinu */
    position: relative;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Tamni preklop */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-overlay h1 {
    color: #fff;
    font-size: 3em;
    margin: 0;
}

/* Postavke za donji deo stranice */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #222222; /* Pozadinska boja */
}

.container {
    padding: 20px;
    margin-top: 30px;
    justify-content: normal;
}

.main {
    /* Ukloni belu pozadinu i senke */
    background: transparent;
}

/* Dugmići – plava boja na celoj stranici */
button {
    padding: 10px 20px;
    background-color: #007BFF;  /* Plava boja */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3; /* Tamnija plava na hover */
}

/* Stilizacija input polja i spiska */
.join-meeting {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.join-meeting input[type="text"] {
    flex: 1;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.join-meeting button {
    margin-left: 10px;
}

.connected-users h2 {
    margin-bottom: 20px;
    font-size: 22px;
    color: white;
}

.connected-users ul {
    list-style: none;
    padding: 0;

}

.connected-users li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 25px;

}

/* Add a bulb icon after each connected user */
.connected-users li i.fa-lightbulb-o {
    font-size: 25px;
}

/* Online status - green bulb */
.connected-users li i.online {
    color: #02fb10;
}

/* Offline status - red bulb */
.connected-users li i.offline {
    color: #e61876;
}

.connected-users li i {
    margin-right: 10px;
    font-size: 25px;
    color:white;
}

#userList{
    color: white;
}
/* Ostali postojeći stilovi, ukoliko su potrebni */
