body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #222222; /* Pozadinska boja stranice */
}

.container {
    display: flex;
    flex-direction: column;  /* Postavlja elemente jedan ispod drugog */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form,
.register-form,
.social-icons {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;  /* Opcionalno radi ujednačen izgled */
    margin-bottom: 20px;
}

.social-icons {
    text-align: center;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 10px;  /* Razmak između ikona */
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="email"],
.login-form button,
.register-form input[type="text"],
.register-form input[type="password"],
.register-form input[type="email"],
.register-form button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-form button,
.register-form button {
    background-color: #003366;  /* Tamnija plava boja */
    color: #fff;
    border: none;
    cursor: pointer;
}

.login-form p,
.register-form p {
    margin-top: 10px;
}

.login-form a,
.register-form a {
    color: #003366;  /* Tamnija plava boja */
    text-decoration: none;
}

.social-icons h2 {
    margin-bottom: 20px;
}

.social-links a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #003366;  /* Tamnija plava boja */
    color: #fff;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
}
